td{
 text-align: center;
}
table{
    border: 2px solid black;
}
td,th{
    border: 1.5px solid black;
}
td{
    background-color: #BDB8D9;
}
th{
    background-color: #9F8FBF;
}
caption{
    border: 1.5px black;
}
img{
    image-rendering: pixelated;
    width: 400px;
    height: 400px;
}